@import 'globals.css';

/* CARDS */
.card {
    background: var(--white);
    border: 1px solid var(--neutral-300);
    border-radius: 0.25rem;
    padding: 1.75rem;
    margin-bottom: 1.5rem;
    transition: border-color 0.2s;
}

.card:hover {
    border-color: var(--neutral-500);
}

.card h3 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
}

.card p {
    color: var(--neutral-700);
    margin-bottom: 0.875rem;
}